page-home,
.home {
  ion-list {
    border-radius: 1rem;
    overflow: hidden;

    ion-item,
    .item:first-child,
    .item:last-child {
      border: none;
    }

    ion-datetime {
      padding-left: 0;
    }
    


  }
  .cardBorders {
    border-bottom-right-radius:0px !important;
    border-bottom-left-radius: 0px !important;
  }
  .correctMargin{
    margin-top: -5%;
   
  }
  .correctMargin2{
    margin-top: -9%;
  }

  

  
}


